<link href="https://fonts.googleapis.com/css?family=Oswald|Lobster|Titan+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">





<% content_for :first do %>
<div style = "<%= @font %>; background-color: <%=@color_two%>; border: 1vh solid <%= @color%>;" id = "page">
<div class= "swing-in-right-bck">
<h1 style = "color: <%=@color%>;margin-bottom:5vh;"><b>The Randomizer</b></h1>  
<h2 style = "color: <%=@color%>;margin-bottom:3vh;">Enter your zipcode</h2>   
<form class="form-inline" method = "post" action = "/zipcode" >
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <div class="form-group">
        <label for "zipcode" style = "color: <%=@color%>;margin-right:1vw;">Zipcode</label>
        <input style = "background-color: white;min-height:4vh !important;font-size:2vh; !important;" type = "text" class = "form-control" id = "zipcode" name = "zipcode"></input>
    </div>
    <button type="submit" style = "color:white;background-color: <%=@color%>;" class= "btn btn-default"><h5>Locate</h5></button>
</form>
</div>
</div>
<% end %>


<% content_for :second do %>
<div style = "<%= @font %>; background-color: <%=@color_two%>; border: 1vh solid <%= @color%>;" id = "page">
<div class= "swing-in-left-bck">
<h1 style = "color: <%=@color%>";>The Randomizer</h1>  
<h2 style = "color: <%=@color%>;margin-bottom:5vh;">What type of random do you want?</h2>  
<form class="form-inline" method = "post" action = "/place" >
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <div class="form-group">
      <label for "type" style = "color:<%=@color%>;margin-right:1vw;">Type</label>
        <select class="form-control" style = "min-height:4vh !important;margin-right:1vw;font-size:2vh !important;" id="type" name = "type">
        <% @places_list.each do |p| %>
            <option><%= p %></option>
        <% end %>
        </select>
    </div>
    <button type="submit" style = "color: white; background-color: <%=@color%>;" class= "btn btn-default"><h5>Random!</h5></button>
</form>
</div>
</div>
<% end %>






