
<div id = "page" style = "background-color: <%= @color%>; border: 1vh solid <%= @color_two%>">

<h1 style = "color: <%=@color_two%>;">Getting random ... </h1>

<div class = "container" style = "background-color: <%= @color_two%>; width: 50vw; border-radius: 5px;">
    <h2><%= @place %></h2>
    <h2><%= @address %></h2>
</div>
<br>

<a href="/" class="btn btn-default" style = "background-color: <%=@color_two%>;">Try again</a>
</div>