
<div id = "page" style = "<%= @font %>;background-color: <%= @color%>; border: 1vh solid <%= @color_two%>">
<div class = "rotate-center">
<h1 style = "color: white;">Getting random...</h1>

<div class = "container" style = "background-color: <%= @color_two%>; border: 1px solid white">
    <span class = "top">
        <img src = "<%= @icon %>">
        <h3 style = "margin-left: 5vw !important;"><%= @place %></h3>
        
    </span>
    <span class = "right">
        <h5 style = "margin-left: 1vw;"><%= @address %></h5>
    </span>
</div>
<br>
<a href="/" class="btn btn-default" style = "color:white;background-color:<%=@color_two%>;margin-right:2vw;"><h4>Try again</h4></a>
<a href="/clear" class="btn btn-default" style = "color:white;background-color: <%=@color_two%>;"><h4>New zipcode</h4></a>
</div>
</div>
